node_modules
dist
*.log
logs/
.env
downloads/
token.json

#some readme file
GOOGLE_DRIVE_SETUP.md
GOOGLE_DRIVE_QUICK_START.md
GOOGLE_DRIVE_VERIFICATION.md

COMPLETE_OAUTH.md
DOCKER_README.md
RUN_AND_TEST.md
MONITOR_REQUESTS.md

.env.prod